body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  h1 {
    align-items:right;
    font-size: 20px;
    color: rgb(21, 20, 20);

    
    

  }

  .container {
    display: flex;
    flex-direction: column;
    align-items:right;
    margin-top: 50px;
  }
  

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 300px;
    padding: 5px;
    font-size: 16px;
  }

  .button-group {
    display: flex;
    align-items:right;
  }

  .button-group button {
    margin: 0 5px;
    padding: 8px 20px;
    font-size: 16px;
  }
 